* {
  margin: 0;
  padding: 0;
}
.header{
  display:flex;
  /* justify-content: space-between; */
  align-items: center;
  background: rgb(71, 31, 71);
  color: white;
  min-height: 8vh;
  padding: 0 16px;
}
.header .logo{
  flex: 2;
}
.header .logo a{
 color: white;
 text-decoration: none;
}
.navigation{
  flex: 10;
}
.navigation ul{
  display: flex;
  list-style: none;
  text-transform: uppercase;
}
.navigation ul li {
 margin-right: 8px;
}
.navigation ul li a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.navigation ul li a:hover{
  font-weight: 500;
}